{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "extends": "eslint:recommended",
    "for-direction": "error",
    "getter-return": ["error", { allowImplicit: true }],
    "no-await-in-loop": "error",
    "no-console": ["error", { allow: ["warn"] }],
    "no-compare-neg-zero": "error",
    "no-cond-assign": ["error", "always"],
    "no-constant-condition": "error",
    "no-debugger": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-semi": "error",
    "no-func-assign": "error",
    "no-inner-declarations": "error",
    "no-obj-calls": "error",
    "no-prototype-builtins": "error",
    "no-regex-spaces": "error",
    "no-sparse-arrays": "error",
    "no-unreachable": "error",
    "no-return-assign": ["error", "always"],
    "no-self-assign": [error, {props: true}],
    "no-self-compare": "error",
    "no-with": "error",

    "wrap-iife": ["error", "any"],
    "array-callback-return": "error",
    "curly": "error",
    "dot-location": ["error", "property"],
    "no-caller": "error",
    "no-empty-function": "error",
    "no-global-assign": "error",
    "no-loop-func": "error",
    "no-proto": "error",
    "use-isnan": "error",
    "array-bracket-spacing": "warn",
    "block-spacing": "warn",
    "brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
    "camelcase": ["error", {properties: "never"}],
    "capitalized-comments": "off",
    "comma-dangle": "warn",
    "comma-spacing": "warn",
    "comma-style": "warn",
    "computed-property-spacing": "warn",
    "eol-last": "off",
    "func-call-spacing": "warn",
    "func-name-matching": "off",
    "func-names": "off",
    "func-style": "off",
    "id-length": "off",
    "id-match": "off",
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "jsx-quotes": "off",
    "key-spacing": ["error", { "beforeColon": false, "afterColon": true,  "mode": "strict" }],
    "keyword-spacing": ["warn", { "before": true, "after": true }],
    "line-comment-position": "off",
    "linebreak-style": "warn",
    "lines-around-comment": "off",
    "max-depth": ["error", { "max": 6 }],
    "max-len": "off",
    "max-lines": "off",
    "max-nested-callbacks": ["warn", 4],
    "max-params": ["warn", 6],
    "max-statements": "off",
    "max-statements-per-line": "off",
    "multiline-ternary": "off",
    "new-cap": "off",
    "new-parens": "error",
    "padding-line-between-statements": ["error", { blankLine: "always", prev: ["const", "let", "var"], next: "*"}, { blankLine: "any", prev: ["const", "let", "var"], next: ["const", "let", "var"]}],
    "newline-per-chained-call": "off",
    "no-array-constructor": "warn",
    "no-bitwise": "off",
    "no-continue": "warn",
    "no-inline-comments": "off",
    "no-lonely-if": "warn",
    "no-mixed-operators": "off",
    "no-mixed-spaces-and-tabs": "warn",
    "no-multi-assign": "warn",
    "no-multiple-empty-lines": "warn",
    "no-negated-condition": "off",
    "no-nested-ternary": "off",
    "no-new-object": "warn",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "no-tabs": "off",
    "no-ternary": "off",
    "no-trailing-spaces": "warn",
    "no-underscore-dangle": "off",
    "no-unneeded-ternary": "off",
    "no-whitespace-before-property": "warn",
    "nonblock-statement-body-position": "off",
    "object-curly-newline": "off",
    "object-curly-spacing": ["warn", "always"],
    "object-property-newline": ["warn", { "allowMultiplePropertiesPerLine": true }],
    "one-var": "off",
    "one-var-declaration-per-line": ["error", "initializations"],
    "operator-assignment": "off",
    "operator-linebreak": ["warn", "after", { "overrides": { "+=": "before", "+": "before", "?": "before", ":": "after" } }],
    "padded-blocks": "off",
    "quote-props": "off",
    "quotes": "off",
    "require-jsdoc": "off",
    "semi": ["warn", "always"],
    "semi-spacing": ["warn", {"before": false, "after": true}],
    "sort-keys": "off",
    "sort-vars": "off",
    "space-before-blocks": "warn",
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "never", "asyncArrow": "always"}],
    "space-in-parens": ["warn", "never"],
    "space-unary-ops": "off",
    "spaced-comment": ["error", "always", { "exceptions": ["-", "+"] }],
    "template-tag-spacing": "off",
    "unicode-bom": "error",
    "wrap-regex": "off",

    "arrow-parens": "off",
    "arrow-spacing": "warn",
    "constructor-super": "off",
    "generator-star-spacing": ["error", {"before": true, "after": true}],
    "no-class-assign": "off",
    "no-confusing-arrow": ["warn", {"allowParens": true}],
    "no-const-assign": "error",
    "no-dupe-class-members": "off",
    "no-duplicate-imports": ["error", { "includeExports": true }],
    "no-new-symbol": "off",
    "no-restricted-imports": "off",
    "no-this-before-super": "off",
    "no-useless-computed-key": "off",
    "no-useless-constructor": "warn",
    "no-useless-rename": ["warn", {
      "ignoreImport": true,
      "ignoreExport": true,
      "ignoreDestructuring": false
    }],
    "no-var": "off",
    "object-shorthand": "off",
    "prefer-arrow-callback": "off",
    "prefer-const": "off",
    "prefer-destructuring": "off",
    "prefer-numeric-literals": "off",
    "prefer-rest-params": "off",
    "prefer-spread": "off",
    "prefer-template": "off",
    "require-yield": "off",
    "rest-spread-spacing": ["error", "never"],
    "sort-imports": "off",
    "symbol-description": "off",
    "template-curly-spacing": ["error", "never"],
    "yield-star-spacing": ["error", {"before": true, "after": true}]
  }
}
