body {
    background-color: #ccc;
}
* {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
.box {
    width: 1024px;
    height: 509px;
    position: relative;
    margin: 0 auto;
    background: url(../images/loding.gif) no-repeat center center #fff;
}
.box img {
    width: 1024px;
    height: 509px;
}
.box ul {
    position: absolute;
    top: 0;
    right: -60px;
}
.box li {
    width: 40px;
    height: 40px;
    margin-bottom: 4px;
    background-color: #666;
    cursor: pointer;
}
.box .active {
    background-color: orange;
}
.box span, .box p {
    text-align: center;
    width: 100%;
    line-height: 30px;
    color: #fff;
    position: absolute;
    background-color: rgba(0,0,0,.6);
    font-size: 16px;
}
.box span {
    top: 0;
}
.box p {
    bottom: 0;
}