<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>智库网</title>
    <link rel="stylesheet" href="../../vendors/styles/index.css" type="text/css" />
    <link rel="stylesheet" href="../../node_modules/swiper/dist/css/swiper.css">
</head>

<body>
    <!-- header -->
    <div class="l-header"></div>
    <!-- navigation -->
    <div class="l-nav"></div>
    <!-- banner -->
    <div class="m-banner"></div>
    <!-- 智慧要闻 && 智慧成果 -->
    <div class="m-index-wrapper wisdom">
        <div class="w">
            <!-- 智慧要闻 -->
            <div class="news"></div>
            <!-- 智库成果 -->
            <div class="achievement"></div>
        </div>
    </div>
    <!-- 科技人物 -->
    <div class="science"></div>
    <!-- 舆情交流 && 科技政策 && 科情在线 && 智库视频 -->
    <div class="m-index-wrapper">
        <div class="w">
            <div class="index-list">
                <!-- 舆情交流 -->
                <div class="list interflow"></div>
                <!-- 科技政策 -->
                <div class="list policy"></div>
                <!-- 科情在线 -->
                <div class="list online"></div>
                <!-- 智库视频 -->
                <div class="list video"></div>
            </div>
        </div>
    </div>
    <div class="l-footer"></div>
    <script src="../../vendors/scripts/util.js"></script>
    <script src="../../vendors/scripts/index.js"></script>

</body>

</html>
