<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>智库网</title>
    <link rel="stylesheet" href="../../vendors/styles/index.css" type="text/css" />
    <link rel="stylesheet" href="../../node_modules/swiper/dist/css/swiper.css">
    <style>

    </style>
</head>

<body>
    <div class="l-header"></div>
    <!-- banner -->
    <div class="m-banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="javascript:;">
                        <img src="../../vendors/images/banner1.jpg" alt="" width="100%" height="550">
                    </a>
                </div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!-- 智慧要闻 && 智慧成果 -->
    <div class="m-index-wrapper wisdom">
        <div class="w">
            <div class="news">
                <div class="wisdom-title">
                    <img src="../../vendors/images/news-title.png" alt="">
                    <a href="javascript:;" class="u-more">更多</a>
                </div>
            </div>
            <div class="achievement">
                <div class="wisdom-title">
                    <img src="../../vendors/images/achievement-title.png" alt="">
                    <a href="javascript:;" class="u-more">更多</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 科技人物 -->
    <div class="science"></div>
    <!-- 舆情交流 && 科技政策 && 科情在线 && 智库视频 -->
    <div class="m-index-wrapper">
        <div class="w">
            <div class="index-list">
                <!-- 舆情交流 -->
                <div class="list interflow"></div>

                <div class="list policy">
                    <div class="list-title">
                        <img src="../../vendors/images/list-title-yqjl.png" alt="">
                        <a href="javascript:;" class="u-more">更多</a>
                    </div>
                    <ul>
                        <li>
                            <i></i>
                            <a href="javascript:;">李伟：激发经济新动能根本在于改革开放</a>
                            <span>2019-02-19</span>
                        </li>
                        <li>
                            <i></i>
                            <a href="javascript:;">李伟：激发经济新动能根本在于改革开放</a>
                            <span>2019-02-19</span>
                        </li>
                        <li>
                            <i></i>
                            <a href="javascript:;">李伟：激发经济新动能根本在于改革开放</a>
                            <span>2019-02-19</span>
                        </li>
                        <li>
                            <i></i>
                            <a href="javascript:;">李伟：激发经济新动能根本在于改革开放</a>
                            <span>2019-02-19</span>
                        </li>
                        <li>
                            <i></i>
                            <a href="javascript:;">李伟：激发经济新动能根本在于改革开放</a>
                            <span>2019-02-19</span>
                        </li>
                    </ul>
                </div>
                <div class="list online">
                    <div class="list-title">
                        <img src="../../vendors/images/list-title-yqjl.png" alt="">
                        <a href="javascript:;" class="u-more">更多</a>
                    </div>
                    <ul>
                        <li>
                            <i></i>
                            <a href="javascript:;">李伟：激发经济新动能根本在于改革开放</a>
                            <span>2019-02-19</span>
                        </li>
                        <li>
                            <i></i>
                            <a href="javascript:;">李伟：激发经济新动能根本在于改革开放</a>
                            <span>2019-02-19</span>
                        </li>
                        <li>
                            <i></i>
                            <a href="javascript:;">李伟：激发经济新动能根本在于改革开放</a>
                            <span>2019-02-19</span>
                        </li>
                        <li>
                            <i></i>
                            <a href="javascript:;">李伟：激发经济新动能根本在于改革开放</a>
                            <span>2019-02-19</span>
                        </li>
                        <li>
                            <i></i>
                            <a href="javascript:;">李伟：激发经济新动能根本在于改革开放</a>
                            <span>2019-02-19</span>
                        </li>
                    </ul>
                </div>
                <div class="list video">
                    <div class="list-title">
                        <img src="../../vendors/images/list-title-yqjl.png" alt="">
                        <a href="javascript:;" class="u-more">更多</a>
                    </div>
                    <ul>
                        <li>
                            <i></i>
                            <a href="javascript:;">李伟：激发经济新动能根本在于改革开放</a>
                            <span>2019-02-19</span>
                        </li>
                        <li>
                            <i></i>
                            <a href="javascript:;">李伟：激发经济新动能根本在于改革开放</a>
                            <span>2019-02-19</span>
                        </li>
                        <li>
                            <i></i>
                            <a href="javascript:;">李伟：激发经济新动能根本在于改革开放</a>
                            <span>2019-02-19</span>
                        </li>
                        <li>
                            <i></i>
                            <a href="javascript:;">李伟：激发经济新动能根本在于改革开放</a>
                            <span>2019-02-19</span>
                        </li>
                        <li>
                            <i></i>
                            <a href="javascript:;">李伟：激发经济新动能根本在于改革开放</a>
                            <span>2019-02-19</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="l-footer"></div>
    <script src="../../vendors/scripts/util.js"></script>
    <script src="../../vendors/scripts/index.js"></script>

</body>

</html>
