<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>智库网-战略专家库</title>
    <link rel="stylesheet" href="../../vendors/styles/expert.css" type="text/css" />
    <link rel="stylesheet" href="expert.css">
</head>

<body>
    <!-- header -->
    <div class="l-header"></div>
    <!-- navigation -->
    <div class="l-nav"></div>

    <!-- main -->
    <div class="l-main">
        <div class="l-detail-main">
            <div class="m-position">
                <span>您当前位置：</span>
                <a href="javascript:;">战略专家库</a>
                <span>&gt;</span>
                <a href="javascript:;">屠呦呦</a>
            </div>
            <div class="m-expert-detail">
                <div class="expert-detail-left">
                    <div class="expert-name">
                        <p>屠呦呦</p>
                        <span>诺贝尔医学奖获得者、药学家</span>
                    </div>
                    <div class="expert-panel">
                        <div class="expert-panel-title">
                            <span>1</span>
                            <p>人物简介</p>
                        </div>
                        <div class="expert-panel-content">
                            <p>屠呦呦（1930年12月30日-），出生于浙江宁波，毕业于北京医学院（今北京大学医学部），中国中医科学院的首席科学家，药学家，诺贝尔医学奖获得者。</p>
                            <p>中国中医研究院终身研究员兼首席研究员，青蒿素研究开发中心主任，博士生导师；1951年考入北京大学，在医学院药学系生药专业学习。2011年9月，因为发现青蒿素获得拉斯克奖和葛兰素史克中国研发中心“生命科学杰出成就奖”。2015年10月，屠呦呦获得诺贝尔生理学或医学奖。</p>
                            <p>屠呦呦是第一位获得诺贝尔科学奖项的中国本土科学家、第一位获得诺贝尔生理医学奖的华人科学家。&#912]是中国医学界迄今为止获得的最高奖项，也是中医药成果获得的最高奖项。</p>
                        </div>
                    </div>
                    <div class="expert-panel">
                        <div class="expert-panel-title">
                            <span>2</span>
                            <p>研究领域</p>
                        </div>
                        <div class="expert-panel-content">
                            <p>中草药研究、生药学研究、中西医结合研究</p>
                        </div>
                    </div>
                    <div class="expert-panel">
                        <div class="expert-panel-title">
                            <span>3</span>
                            <p>主要成就</p>
                        </div>
                        <div class="expert-panel-content">
                            <p>1969年，中国中医研究院接受抗疟药研究任务，屠呦呦领导课题组从系统收集整理历代医籍、本草、民间方药入手，在收集2000余方药基础上，编写了640种药物为主的《抗疟单验方集》，对其中的200多种中药开展实验研究，历经380多次失败，利用现代医学和方法进行分析研究、不断改进提取方法，终于在1971年获得青蒿抗疟发掘成功。</p>
                            <p>1972年，从该有效部分中分离得到抗疟有效单体，命名为青蒿素。青蒿素为一具有“高效、速效、低毒”优点的新结构类型抗疟药，对各型疟疾特别是抗性疟有特效。</p>
                            <p>1973年，为确证青蒿素结构中的羰基，合成了双氢青蒿素。又经构效关系研究，明确在青蒿素结构中过氧是主要抗疟活性基团，在保留过氧的前提下，羰基还原为羟基可以增效，为国内外开展青蒿素衍生物研究打开局面。</p>
                            1978年，青蒿素抗疟研究课题获全国科学大会“国家重大科技成果奖”</p>
                        </div>
                    </div>
                    <div class="expert-panel">
                        <div class="expert-panel-title">
                            <span>4</span>
                            <p>人物荣誉</p>
                        </div>
                        <div class="expert-panel-content">
                            <p>2019-1-14 入选BBC“20世纪最具标志性人物”（候选人）</p>
                            <p>2018-12-18 改革先锋&#918] （获奖）</p>
                            2018-11 100名改革开放杰出贡献对象&#9132] （提名）</p>
                            <p>2017-01-09 2016年度国家最高科学技术奖&#9133] （获奖）</p>
                            <p>2016-03-25 影响世界华人终身成就奖&#9125] （获奖）</p>
                        </div>
                    </div>
                    <div class="expert-panel">
                        <div class="expert-panel-title">
                            <span>5</span>
                            <p>论文著作</p>
                        </div>
                        <div class="expert-panel-content">
                            <p>1 .屠呦呦，楼之岑.半边莲的生药学研究.见：中药鉴定参考资料（第一集）.北京：人民卫生出版社，1958：252-260.</p>
                            <p>2 .屠呦呦，银柴胡.见：中国医学科学院等主编.中药志（第二册）.北京：人民卫生出版社，1959：520-526.</p>
                            <p>3 .屠呦呦.中药鉴别经验的学习心得.中医杂志，1962，（6）：32-35.</p>
                            <p>4 .卫生部中医研究院中药研究所、药品生物制品检定所合编.中药炮炙经验集成.北京：人民卫生出版社，1963.</p>
                            <p>5 .青蒿素结构研究协作组.一种新型的倍半萜内酯——青蒿素.科学通报，1977，（3）：142.</p>
                        </div>
                    </div>
                </div>
                <div class="expert-detail-right">
                    <img src="../../assets/images/tuyouyou.jpg" width="216" height="250" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="l-footer"></div>
    <script src="../../vendors/scripts/util.js"></script>
    <script src="../../vendors/scripts/expert.js"></script>
</body>

</html>
