<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>智库网-战略专家库</title>
    <link rel="stylesheet" href="../../vendors/styles/expert.css" type="text/css" />
</head>

<body>
    <!-- header -->
    <div class="l-header"></div>
    <!-- navigation -->
    <div class="l-nav"></div>
    <!-- banner -->
    <!-- search main -->
    <div class="l-main">
        <div class="l-container">
            <div class="m-container-top">
                <img src="../../vendors/images/column-expert.png" alt="">
                <div class="column-expert-search">
                    <input type="text" class="_searchKeyword" placeholder="输入人物名">
                    <a href="javascript:;" class="_searchExpert"></a>
                </div>
            </div>
            <div class="expert-main">
                <div class="column-expert-nav">
                    <span>导航：</span>
                    <ul>
                        <li class="active">
                            <a href="javascript:;">全部</a>

                        </li>
                        <li>
                            <a href="javascript:;">A</a>
                        </li>
                        <li>
                            <a href="javascript:;">B</a>
                        </li>
                        <li>
                            <a href="javascript:;">C</a>
                        </li>
                        <li>
                            <a href="javascript:;">D</a>
                        </li>
                        <li>
                            <a href="javascript:;">E</a>
                        </li>
                        <li>
                            <a href="javascript:;">F</a>
                        </li>
                        <li>
                            <a href="javascript:;">G</a>
                        </li>
                        <li>
                            <a href="javascript:;">H</a>
                        </li>
                        <li>
                            <a href="javascript:;">I</a>
                        </li>
                        <li>
                            <a href="javascript:;">J</a>
                        </li>
                        <li>
                            <a href="javascript:;">K</a>
                        </li>
                        <li>
                            <a href="javascript:;">L</a>
                        </li>
                        <li>
                            <a href="javascript:;">M</a>
                        </li>
                        <li>
                            <a href="javascript:;">N</a>
                        </li>
                        <li>
                            <a href="javascript:;">O</a>
                        </li>
                        <li>
                            <a href="javascript:;">P</a>
                        </li>
                        <li>
                            <a href="javascript:;">Q</a>
                        </li>
                        <li>
                            <a href="javascript:;">R</a>
                        </li>
                        <li>
                            <a href="javascript:;">S</a>
                        </li>
                        <li>
                            <a href="javascript:;">T</a>
                        </li>
                        <li>
                            <a href="javascript:;">U</a>
                        </li>
                        <li>
                            <a href="javascript:;">V</a>
                        </li>
                        <li>
                            <a href="javascript:;">W</a>
                        </li>
                        <li>
                            <a href="javascript:;">X</a>
                        </li>
                        <li>
                            <a href="javascript:;">Y</a>
                        </li>
                        <li>
                            <a href="javascript:;">Z</a>
                        </li>
                    </ul>
                </div>
                <div class="u-notfound hide">
                    <img src="../../vendors/images/not-found.png" alt="">
                    <p>没有找到搜索结果</p>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        A
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">安万坤</a>
                        </li>
                        <li>
                            <a href="javascript:;">安万坤</a>
                        </li>
                        <li>
                            <a href="javascript:;">安佳</a>
                        </li>
                        <li>
                            <a href="javascript:;">安世耿子</a>
                        </li>
                        <li>
                            <a href="javascript:;">安万坤</a>
                        </li>
                        <li>
                            <a href="javascript:;">安万坤</a>
                        </li>
                        <li>
                            <a href="javascript:;">安佳</a>
                        </li>
                        <li>
                            <a href="javascript:;">安世耿子</a>
                        </li>
                        <li>
                            <a href="javascript:;">安万坤</a>
                        </li>
                        <li>
                            <a href="javascript:;">安万坤</a>
                        </li>
                        <li>
                            <a href="javascript:;">安佳</a>
                        </li>
                        <li>
                            <a href="javascript:;">安世耿子</a>
                        </li>
                        <li>
                            <a href="javascript:;">安万坤</a>
                        </li>
                        <li>
                            <a href="javascript:;">安万坤</a>
                        </li>
                        <li>
                            <a href="javascript:;">安佳</a>
                        </li>
                        <li>
                            <a href="javascript:;">安世耿子</a>
                        </li>
                        <li>
                            <a href="javascript:;">安万坤</a>
                        </li>
                        <li>
                            <a href="javascript:;">安万坤</a>
                        </li>
                        <li>
                            <a href="javascript:;">安佳</a>
                        </li>
                        <li>
                            <a href="javascript:;">安世耿子</a>
                        </li>
                        <li>
                            <a href="javascript:;">安万坤</a>
                        </li>
                        <li>
                            <a href="javascript:;">安万坤</a>
                        </li>
                        <li>
                            <a href="javascript:;">安佳</a>
                        </li>
                        <li>
                            <a href="javascript:;">安世耿子</a>
                        </li>
                        <li>
                            <a href="javascript:;">安万坤</a>
                        </li>
                        <li>
                            <a href="javascript:;">安万坤</a>
                        </li>
                        <li>
                            <a href="javascript:;">安佳</a>
                        </li>
                        <li>
                            <a href="javascript:;">安世耿子</a>
                        </li>
                        <li>
                            <a href="javascript:;">安万坤</a>
                        </li>
                        <li>
                            <a href="javascript:;">安万坤</a>
                        </li>
                        <li>
                            <a href="javascript:;">安佳</a>
                        </li>
                        <li>
                            <a href="javascript:;">安世耿子</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        B
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                        <li>
                            <a href="javascript:;">柏伊珊</a>
                        </li>
                        <li>
                            <a href="javascript:;">柏书豪</a>
                        </li>
                        <li>
                            <a href="javascript:;">柏世存</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        C
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                        <li>
                            <a href="javascript:;">柏伊珊</a>
                        </li>
                        <li>
                            <a href="javascript:;">柏书豪</a>
                        </li>
                        <li>
                            <a href="javascript:;">柏世存</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        D
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        E
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        F
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        G
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        H
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        I
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        J
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        K
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        L
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        M
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        N
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        O
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        P
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        Q
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        R
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        S
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        T
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        U
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        V
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        W
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        X
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        Y
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
                <div class="expert-list">
                    <div class="expert-list-title">
                        Z
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:;">柏义好</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="l-footer"></div>
    <script src="../../vendors/scripts/util.js"></script>
    <script src="../../vendors/scripts/expert.js"></script>
</body>

</html>
