<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title>智库网-科技政策</title>
    <link rel="stylesheet" href="../../vendors/styles/policy.css" type="text/css" />
</head>

<body>
    <!-- header -->
    <div class="l-header"></div>
    <!-- navigation -->
    <div class="l-nav"></div>
    <!-- main -->
    <div class="l-main">
        <div class="l-container">
            <div class="m-container-top">
                <img src="../../vendors/images/column-policy.png" alt="">
            </div>
            <div class="m-list-text _highlight">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <i class="u-dot"></i>
                            <span class="title">张开双臂迎接改革开放新时代——在《改革开放40年：市场体系建立、发展与展望》专著首发式暨高层研讨会上的讲话"</span>
                            <span class="time">2019-04-22</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="u-dot"></i>
                            <span class="title">张开双臂迎接改革开放新时代——在《改革开放40年：市场体系建立、发展与展望》专著首发式暨高层研讨会上的讲话"</span>
                            <span class="time">2019-04-22</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="u-dot"></i>
                            <span class="title">张开双臂迎接改革开放新时代——在《改革开放40年：市场体系建立、发展与展望》专著首发式暨高层研讨会上的讲话"</span>
                            <span class="time">2019-04-22</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="u-dot"></i>
                            <span class="title">张开双臂迎接改革开放新时代——在《改革开放40年：市场体系建立、发展与展望》专著首发式暨高层研讨会上的讲话"</span>
                            <span class="time">2019-04-22</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="u-dot"></i>
                            <span class="title">张开双臂迎接改革开放新时代——在《改革开放40年：市场体系建立、发展与展望》专著首发式暨高层研讨会上的讲话"</span>
                            <span class="time">2019-04-22</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- pagination -->
        <div class="m-pagination"></div>
    </div>
    <!-- footer -->
    <div class="l-footer"></div>
    <script src="../../vendors/scripts/util.js"></script>
    <script src="../../vendors/scripts/policy.js"></script>
</body>
</html>
