@import "common.scss"; // banner

.m-banner {
    @include box-shadows(inset 0 15px 15px #eaeef3);
    background: url("../images/banner-bg.png") repeat-x #fff;

    .swiper-container {
        position: relative;
        z-index: 9;
        max-width: 1400px;
        height: 550px;
        background-color: #fff;
        @include box-shadows(-7px 0 7px #e1f0ff, 0 0 0 #fff, 7px 0 7px #e1f0ff, 0 20px 20px #b3d9ff);

        .swiper-slide {
            overflow: hidden;

            img {
                position: absolute;
                left: 50%;
                margin-left: -700px;
                width: 1400px;
                height: 550px;
            }

            p {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 50px;
                padding-left: 120px;
                background: rgba(0, 0, 0, 0.5);
                color: #fff;
                font-size: 15px;
                line-height: 50px;
            }

            i {
                margin-right: 10px;
            }
        }
    }

    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        left: auto;
        right: 100px;
    }

    .swiper-pagination {
        text-align: right;
    }

    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 6px;
    }

    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        background: #fff;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background: #e5153e;
    }
}
// 智库要闻 && 智库成果

.wisdom {
    padding: 110px 0 60px;
    margin-top: -50px;
    border-top: solid 1px #d1e6ff;

    .wisdom-title {
        position: relative;
        padding-left: 20px;
        height: 70px;
        vertical-align: middle;
    }

    .wisdom-title img {
        margin-top: 23px;
    }

    .wisdom-title .u-more {
        position: absolute;
        top: 30px;
        right: 20px;
    }

    .news-btn {
        padding-bottom: 20px;
        padding-left: 70px;
        overflow: hidden;
    }

    .news-list {
        display: none;
        padding: 0 20px;
        overflow: hidden;

        a {
            color: #142434;
        }
        a:hover {
            color: #287bcb;
        }

        .news-sketch {
            img {
                width: 360px;
                height: 200px;
            }

            p {
                padding-top: 20px;
                padding-bottom: 12px;
                font-weight: bold;
            }

            span {
                display: block;
                padding-bottom: 20px;
                font-size: 12px;
                color: #4F565E;
            }
        }

        ul li {
            padding: 20px 0;
            border-top: solid 1px #e5e5e5;
            line-height: 24px;
            font-weight: bold;
        }
    }

    .news-list.active {
        display: block;
    }
}

.m-index-wrapper {
    background-color: #f2f8ff;
    overflow: hidden;

    .achievement,
    .news {
        height: 710px;
        border: solid 1px #d1e6ff;
    }

    .news {
        float: left;
        width: 400px;
        background: url("../images/wisdom-lt.png") 0 0 no-repeat, url("../images/wisdom-rt.png") right 0 no-repeat, url("../images/wisdom-lb.png") 0 bottom no-repeat;
        background-color: #fff;
    }

    .achievement {
        float: right;
        width: 780px;
        background: url("../images/wisdom-lt.png") 0 0 no-repeat, url("../images/wisdom-rt.png") right 0 no-repeat;
        background-color: #fff;

        ul {
            padding-top: 10px;
        }

        li {
            padding: 0 20px 20px 30px;
            overflow: hidden;
            &:hover h2 {
                color: #287bcb;
            }
        }
    }
}
// 科技人物

.science {
    height: 390px;
    background: url("../images/science-bg.png") center top no-repeat #fff;
    overflow: hidden;

    .science-title {
        position: relative;
        padding: 23px 0 44px;
        text-align: center;

        .u-more {
            position: absolute;
            top: 30px;
            right: 30px;
        }
    }

    ul {
        margin-right: -24px;

        li {
            position: relative;
            float: left;
            margin-right: 24px;
            width: 180px;
            height: 220px;
            border: solid 1px #d1e6ff;
            background: #fff;
            text-align: center;

            img {
                padding-top: 10px;
                width: 130px;
                height: 130px;
                border-radius: 50%;
            }

            h2 {
                position: absolute;
                margin-top: 12px;
                width: 100%;
                font-size: 46px;
                color: #f1f8ff;
            }

            p {
                position: absolute;
                margin-top: 28px;
                width: 100%;
                font-size: 16px;
                color: #142434;
            }
        }
    }
}
// 底部四列表

.index-list {
    margin-right: -20px;
    padding: 60px 0 40px;
    overflow: hidden;

    .list {
        float: left;
        margin: 0 20px 20px 0;
        width: 590px;
        height: 355px;
        border: solid 1px #d1e6ff;
        border-top: none;
        background-color: #fff;

        ul {
            padding-top: 10px;
        }

        li {
            margin: 0 20px;
            border-bottom: solid 1px #e5e5e5;
            line-height: 56px;
            cursor: pointer;
            &:last-child {
                border: none;
            }
            a {
                color: #142434;
            }
            &:hover a {
                color: #287bcb;
            }
            i.u-dot {
                margin-right: 10px;
            }
            span {
                float: right;
                font-size: 12px;
                color: #4F565E;
            }
        }
    }

    .list.video .u-video {
        float: right;
        margin: 20px 20px 0 0;
    }

    .list-title {
        position: relative;
        height: 40px;
        background: url("../images/list-title-bg.jpg") no-repeat;

        img {
            position: absolute;
            top: 23px;
            left: 34px;
        }

        .u-more {
            position: absolute;
            top: 15px;
            right: 20px;
        }
    }
}
