<div class="w">
    <div class="logo">
        <a href="/" class="logo-img">
            <img src="{{src}}" alt="{{title}}">
        </a>
    </div>
    <div class="m-search-box">
        <input class="_keywords" type="text" placeholder="请输入要搜索的内容">
        <a href="../search/index.html" class="search-btn _searchBtn"></a>
    </div>
    <div class="m-min-account">
        <div class="shortcut-login">
            <a href="javascript:;">登录</a>
            <span></span>
            <a href="javascript:;">注册</a>
        </div>
    </div>
</div>
