<div class="l-main-nav _globalNavBar">
    <div class="w">
        <ul>
            <li class="nav-index">
                <a href="../index/index.html"></a>
            </li>
            <li class="nav-news">
                <a href="../news/index.html"></a>
            </li>
            <li class="nav-achievement">
                <a href="../achievement/index.html"></a>
            </li>
            <li class="nav-dynamic">
                <a href="../dynamic/index.html"></a>
            </li>
            <li class="nav-personage">
                <a href="javascript:;"></a>
                <i></i>
                <ul class="nav-second">
                    <li>
                        <a href="../expert/index.html">战略专家库</a>
                    </li>
                    <li>
                        <a href="javascript:;">科学家精神</a>
                    </li>
                </ul>
            </li>
            <li class="nav-video">
                <a href="javascript:;"></a>
            </li>
            <li class="nav-policy">
                <a href="../policy/index.html"></a>
            </li>
            <li class="nav-online">
                <a href="../online/index.html"></a>
            </li>
            <li class="nav-offeradvice">
                <a href="javascript:;"></a>
            </li>
        </ul>
    </div>
</div>
