<ul>
    <li>
        <a href="javascript:;">首页</a>
    </li>
    <li>
        <a href="javascript:;">上一页</a>
    </li>
    <li>
        <a class="active" href="javascript:;">1</a>
    </li>
    <li>
        <a href="javascript:;">2</a>
    </li>
    <li>
        <a href="javascript:;">3</a>
    </li>
    <li>
        <a href="javascript:;">4</a>
    </li>
    <li>
        <a href="javascript:;">5</a>
    </li>
    <li>
        <a href="javascript:;">6</a>
    </li>
    <li>
        <a href="javascript:;">7</a>
    </li>
    <li>
        <a href="javascript:;">下一页</a>
    </li>
    <li>
        <a href="javascript:;">尾页</a>
    </li>
    <span>共100页 转到</span>
    <input type="text">
    <span>页</span>
    <input type="submit" name="" value="跳转">
</ul>
